Dockerfile*
.dockerignore

.git
.gitignore
.gitattributes

README.md

.npmrc
.prettierrc
.prettierignore
.eslintrc.cjs
.eslintrc.json
.graphqlrc
.editorconfig
.svelte-kit
.vscode

log/
*.log
tmp/
.cache/

node_modules
build
package
**/.env
