/* custom global CSS settings */

/* disable scollbar */
*::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;

	/* remove button tap color */
	-webkit-tap-highlight-color: transparent;
}

/* disable focus on elements */
*:focus {
  outline: 0;
}

/* TODO center on page */
@media (width >=48rem) { /* >= 768px */
	.lb-page-centerX {
		margin: auto;
		margin-top: calc(50vh - 200px);
	}
}
