/* custom global CSS settings */

/* disable scollbar */
*::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;

	/* remove button tap color */
	-webkit-tap-highlight-color: transparent;
}

/* disable focus on elements */
*:focus {
	outline: 0;
}

/* disable text selection for all elements*/
* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

/* TODO center on page */
@media (width >=48rem) {
	/* >= 768px */
	.lb-page-centerX {
		margin: auto;
		margin-top: calc(50vh - 200px);
	}
}

/* fix: navigation bar buttons should not reduce brightness */
.btn {
	&:not(:disabled) {
		&:hover {
			&:where([data-mode="dark"], [data-mode="dark"] *) {
				filter: brightness(100%); /* was 75% */
			}
		}
	}
}

/* fix: disable focus for skeleton switch */ 
[data-scope="switch"] {
    &[data-part="root"] {
        &[data-focus-visible] {
            outline: none;
            outline-offset: 1px;
        }
    }
}

[data-mode="dark"] {
	.d3-text {
		fill: var(--color-surface-50);
		color: var(--color-surface-50);
	}

	.d3-text-marker-0 {
		fill: var(--color-primary-500);
		color: var(--color-primary-500);
	}

	.d3-text-marker-1 {
		fill: var(--color-secondary-500);
		color: var(--color-secondary-500);
	}

	.d3-line-horizontal {
		stroke: var(--color-surface-400);
		stroke-width: 1;
	}

	.d3-line-vertical {
		stroke: var(--color-surface-700);
		stroke-width: 1;
	}

	.d3-line-vertical-marker {
		stroke: var(--color-surface-50);
		stroke-width: 2;
	}
}

[data-mode="light"] {
	.d3-text {
		fill: var(--color-surface-950);
		color: var(--color-surface-950);
	}

	.d3-text-marker-0 {
		fill: var(--color-primary-700);
		color: var(--color-primary-700);
	}

	.d3-text-marker-1 {
		fill: var(--color-secondary-700);
		color: var(--color-secondary-700);
	}

	.d3-line-horizontal {
		stroke: var(--color-surface-300);
		stroke-width: 1;
	}

	.d3-line-vertical {
		stroke: var(--color-surface-200);
		stroke-width: 1;
	}

	.d3-line-vertical-marker {
		stroke: var(--color-surface-950);
		stroke-width: 2;
	}

}
