/* custom global CSS settings */

/* disable scollbar */
*::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;

	/* remove button tap color */
	-webkit-tap-highlight-color: transparent;
}

/* disable focus on elements */
*:focus {
	outline: 0;
}

/* disable text selection */
* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

p {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
}

/* TODO center on page */
@media (width >=48rem) {
	/* >= 768px */
	.lb-page-centerX {
		margin: auto;
		margin-top: calc(50vh - 200px);
	}
}
